<ion-view view-title="Add New Volunteer">
  <ion-content>
    <div class="container-fluid">
            <h4>{{ action }} Volunteer</h4>
            <form role="form" class="form-horizontal" ng-submit="submitForm(volunteerform.$valid)" novalidate name="volunteer">
                <div class="panel panel-default">
                    <div class="panel-body">
                            <div class="form-group" ng-class="{ 'has-error' : volunteer.fname.$invalid && !volunteer.fname.$pristine || volunteer.fname.$error.pattern }">
                                <label class="col-sm-3 control-label" for="firstname">First Name</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="firstname" name="fname" value="{{ form.fname }}" ng-model="form.fname"
                                    required ng-pattern="/^[A-z]+$/">
                                    <p ng-show="volunteer.fname.$invalid && !volunteer.fname.$pristine" class="help-block">You name is required.</p>
                                    <p ng-show="volunteer.fname.$error.pattern" class="help-block">Enter valid first name(Alphabets only)</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : volunteer.lname.$invalid && !volunteer.lname.$pristine || volunteer.lname.$error.pattern }">
                                <label class="col-sm-3 control-label" for="lastname">Last Name</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="lastname" value="{{ form.lname }}" ng-model="form.lname" name="lname" required ng-pattern="/^[A-z]+$/">
                                    <p ng-show="volunteer.lname.$invalid && !volunteer.lname.$pristine" class="help-block">You name is required.</p>
                                    <p ng-show="volunteer.lname.$error.pattern" class="help-block">Enter valid last name(Alphabets only)</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : volunteer.phone.$error.pattern }">
                                <label class="col-sm-3 control-label" for="phone">Phone</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="phone" placeholder="optional" value="{{ form.phone }}" ng-model="form.phone" ng-pattern="/^[0-9_]*$/" name="phone">
                                    <p ng-show="volunteer.phone.$error.pattern" class="help-block">Enter valid phone number</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : volunteer.email.$invalid && !volunteer.email.$pristine }">
                                <label class="col-sm-3 control-label" for="email">Email</label>
                                <div class="col-sm-5">
                                    <input type="email" class="form-control" id="email" placeholder="optional" value="{{ form.email }}" ng-model="form.email" name="email">
                                    <p ng-show="volunteer.email.$invalid && !volunteer.email.$pristine" class="help-block">Enter a valid email.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="email">Name of organization assosciated with</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="email" placeholder="optional" value="{{ form.organization }}" ng-model="form.organization">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="city">Address</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="city" placeholder="optional" value="{{ form.address }}" ng-model="form.address">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : volunteer.occupation.$error.pattern }">
                                <label class="col-sm-3 control-label" for="address1">Occupation</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="address1" placeholder="optional" value="{{ form.occupation }}" ng-model="form.occupation" ng-pattern="/^[A-z]+$/" name="occupation">
                                    <p ng-show="volunteer.occupation.$error.pattern" class="help-block">Enter valid occupation(Alphabets only)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="state">Are you collecting any of following donation items</label>
                                <div class="col-sm-9">
                                    <label class="checkbox-inline" ng-repeat="item in donationitems">
                                      <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="item.checked">
                                      {{ item.value }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="address1">Number of Medical professional traveling with you if any</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="address1" placeholder="optional" value="{{ form.medprof }}" ng-model="form.medprof">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="address1">Willing to take relief materials collected by others</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline">
                                      <input type="radio" value="yes" ng-model="form.takematerial">
                                      Yes
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" value="no" ng-model="form.takematerial">
                                      No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : volunteer.traveldate.$error.pattern }">
                                <label class="col-sm-3 control-label" for="address1">Travel date</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="address1" placeholder="mm/dd/yyyy" value="{{ form.traveldate }}" ng-model="form.traveldate" name="traveldate" ng-pattern="/^[0-9/]*$/">
                                    <p ng-show="volunteer.traveldate.$error.pattern" class="help-block">Enter valid date(mm/dd/yyyy)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="address1">Description</label>
                                <div class="col-sm-5">
                                    <textarea rows="6" class="form-control" id="description" placeholder="optional" placeholder="optional" value="{{ form.description }}" ng-model="form.description"></textarea>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary" id="add_lead_submit" ng-click="save()" ng-disabled="volunteerform.$invalid">Save</button>
                    </div>
                </div>
            </form>
        </div>
  </ion-content>
</ion-view>