<ion-view view-title=" Add new">
  <ion-content>
    <div class="container-fluid">
            <h4>Add new </h4>
            <form role="form" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="email">Location (District)</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="email"value="{{ form.address }}" ng-model="form.last_location">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="firstname">Contact 1(CDO)</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="name" value="{{ form.name }}" ng-model="form.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="firstname">Contact 2(CDO office)</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="name" value="{{ form.name1 }}" ng-model="form.name1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="phone">Phone (CDO)</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="phone" placeholder="optional" value="{{ form.phone }}" ng-model="form.phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="phone">Phone (CDO office)</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="phone" placeholder="optional" value="{{ form.phone1 }}" ng-model="form.phone1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="state">Email</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="state" placeholder="optional" value="{{ form.email }}" ng-model="form.email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="city">Description</label>
                                <div class="col-sm-5">
                                    <textarea rows="6" class="form-control" id="description" placeholder="optional" placeholder="optional" value="{{ form.description }}" ng-model="form.description"></textarea>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
                    </div>
                </div>
            </form>
        </div>
  </ion-content>
</ion-view>