<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear ion-arrow-left-c">
        <span class="icon icon-arrow-left"></span>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view animation="slide-left-right" name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu width="200" expose-aside-when="large" class="side_menu" side="left">
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/missing">
          <span class="ion-android-contacts menu-icon"></span>Missing
        </ion-item>
        <div class="divider"></div>
        <ion-item nav-clear menu-close href="#/app/volunteer">
          <span class="ion-android-hand menu-icon"></span>
          Volunteer
        </ion-item>
        <div class="divider"></div>
        <ion-item nav-clear menu-close href="#/app/browse">
          Government Contacts
        </ion-item>
        <div class="divider"></div>
        <ion-item nav-clear menu-close href="#/app/browse">
          <span class="ion-medkit menu-icon"></span>
          Medical Sites
        </ion-item>
        <div class="divider"></div>
        <ion-item nav-clear menu-close href="#/app/browse">
          <span class="ion-ios-home menu-icon"></span>Shelter Sites
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          <span class="ion-android-call menu-icon"></span>
          Emergency Contacts
        </ion-item>
        <div class="divider"></div>
        <ion-item nav-clear menu-close href="#/app/browse">
          <span class="ion-android-call menu-icon"></span>
          Food Water Organization
        </ion-item>
        <div class="divider"></div>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>



<!-- <ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar align-title="center" class="bar-main">
            <ion-nav-back-button class="button-clear ion-arrow-left-c">
                <span class="icon icon-arrow-left"></span>
            </ion-nav-back-button>
            <h1 class="title">Dealertrack</h1>
            <div class="buttons">
                <span class="icon icon-lock"></span>
                <span class="icon icon-notifications"></span>
            </div>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right" name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu width="100" expose-aside-when="large" class="side_menu" side="left">
        <ion-content>
            <ul class="dt-menu">
                <li><a href="#/dt/leads"><i class="icon icon-users"></i>Leads</a></li>
                <li><a href="#/dt/inventory"><i class="icon icon-v-vehicle"></i>Vehicles</a></li>
                <li><a href="#/dt/chat/1499574"><i class="icon icon-chat"></i>Chat</a></li>
                <li popover popover-label="Filter & Sort" popover-placement="right" popover-class="popover-settings" data-container="body">
                    <a><i class="icon icon-settings"></i>Settings</a>
                </li>
                <div id="slide-menu" class="hide">
                    <div ng-include src="'templates/includes/settings-menu.html'"></div>
                </div>
                 <li><a href="#/dt/test"><i class="icon icon-v-vehicle"></i>Test page</a></li>
            </ul>
        </ion-content>
    </ion-side-menu> -->

</ion-side-menus>
