<ion-view view-title="Missing People">
  <ion-content>
    <div class="row-fluid">
        <div class="col-lg-12 add-link">
            <a href="#/app/missing/create">
                <span class="ion-plus-circled menu-icon"> Add New</span>
            </a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="form-group">
            <div class="col-sm-12 add-link">
                <input type="text" class="form-control" id="firstname" placeholder="search" ng-model="searchString">
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="(key, missing) in missingList| searchFor:searchString" class="row" ng-animate="'animate'">
                <div class="tile">
                    <div class="header">
                        <span class="ion-female icon-left"></span>
                        <span class="title">{{ missing.name }}{{ missing.gender }}</span>
                        <a href="#/app/missing/edit/{{key}}" ><span class="ion-ios-compose-outline icon"></span></a>
                        <span class="ion-ios-trash icon" ng-click="show()"></span>
                        <a href="#/app/details/{{missing.$id}}" class="link"> <i class="ion-chevron-right"></i></a>
                    </div>
                    <div class="clear"></div>
                    <div class="pull-right img-wrapper"><img width="100px" src="img/people/img.jpg" /></div>
                    <div class="clear"></div><br/>
                    Nationality: <span>{{ missing.nationality }}</span><br/>
                    <div class="clear"></div>
                    Last location: <span>{{ missing.last_location }}</span><br/>
                    <div class="clear"></div>
                    City: <span>{{ missing.last_location }}</span><br/>
                    <div class="clear"></div>
                    Phone: <span>{{ missing.phone }}</span><br/>
                    <div class="clear"></div>
                    Email: <span>{{ missing.email }}</span><br/>
                    <div class="clear"></div>
                    Posted by: <span>{{ missing.posted_by }}</span><br/>
                    <div class="clear"></div>
                    Description: <span>{{ missing.description }}</span><br/>
                    <div class="clear"></div>
                </div>
        </div>
    </div>
  </ion-content>
</ion-view>