<ion-view view-title="Volunteer">
  <ion-content>
    <div class="row-fluid">
        <div class="col-lg-12 add-link">
            <a href="#/app/volunteer/create">
                <span class="ion-plus-circled menu-icon"> Add New</span>
            </a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="form-group">
            <div class="col-sm-12 add-link">
                <input type="text" class="form-control" id="firstname" placeholder="search by name, email, address, occupation and donation items" ng-model="searchString">
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="(id, volunteer) in volunteerList | searchForVolunteer:searchString" href="#/app/playlists/{{playlist.id}}">
            <div class="tile">
                <div class="header">
                    <!-- <span class="ion-female icon-left">{{ volunteer.gender }}</span> -->
                    <span class="title">{{ volunteer.fname }} &nbsp;{{ volunteer.lname }}</span>
                    <a href="#/app/volunteer/edit/{{ volunteer.$id }}">
                        <span class="ion-ios-compose-outline icon" ng-click="edit(volunteer.$id)"></span>
                    </a>
                    <!--<span class="ion-ios-trash icon" ng-click="remove(volunteer.$id)" ></span>-->
                    <a href="#/app/volunteerdetails/{{volunteer.$id}}" class="link"> <i class="ion-chevron-right"></i></a>
                </div>
                <div class="clear"></div><br/>
                <!--<span class="">Phone: </span>
                <span class="pull-right">{{ volunteer.phone }}</span><br/>
                <div class="clear"></div> -->
                <!--<span class="">Email: </span>
                <span class="pull-right">{{ volunteer.email }}</span><br/>
                <div class="clear"></div> -->
                <span class="">Organization: </span>
                <span class="pull-right">{{ volunteer.organization }}</span><br/>
                <div class="clear"></div>
                <span class="">Address: </span>
                <span class="pull-right">{{ volunteer.address }}</span><br/>
                <div class="clear"></div>
                <span class="">Status: </span>
                <span class="pull-right">{{ volunteer.status }}</span><br/>
                <div class="clear"></div>

                <span class="">Occupation: </span>
                <span class="pull-right">{{ volunteer.occupation }}</span><br/>
                <div class="clear"></div>
                <span class="">Donation items: </span>
                <span class="pull-right" ng-repeat = "item in volunteer.donationitemsselected">
                    {{ item }}, 
                </span>
                <br/>
                <div class="clear"></div>
                <span class="">Willing to take items: </span>
                <span class="pull-right">
                    {{ volunteer.takematerial }}
                </span>
                <br/>
                <div class="clear"></div>
                <span class=""># of Medical Professionals: </span>
                <span class="pull-right">{{ volunteer.medicalprof}}</span><br/>
                <div class="clear"></div>
                <span class="">Travel date: </span>
                <span class="pull-right">{{ volunteer.traveldate }}</span><br/>
                <div class="clear"></div>
                <span class="">Description: </span>
                <span class="pull-right">{{ volunteer.description}}</span><br/>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>